
body {
	font-family: Raleway;
	text-align: center;
	
}

h2 {
	color: blue;
}

h3 {
	color: blue;
}

.column {
    float: left;
    width: 33%;

}

h1 {
	text-decoration: underline;
	text-transform: uppercase;
}